<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>成电时光</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script>
        var request = new XMLHttpRequest();
        request.open('GET', '/hit/year{{current}}');
        request.send();
    </script>
</head>
<body class="index">
    <header>
        <div class="container top">
            <img src="/static/img/logo.png" class="pull-left"/>
            <div class="pull-right">
                <a href="http://www.uestc.edu.cn/">学校主页</a>
                <a href="http://www.new1.uestc.edu.cn/">新闻中心</a>
                <a href="http://www.new1.uestc.edu.cn/?n=UestcNews.Front.Category.Page&CatId=56">关注</a>
                <input type="text" placeholder="搜索" class="search"/>
            </div>
        </div>
        <div class="container img-container">
            <img src="/static/img/title.png" class="banner"/>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="container main">
        <div class="col-xs-2 left">
            {% for i in years %}
            <div class="year-wrapper"><a href="/year/{{i}}" class="year {{'active' if i == current}}">{{i}}</a></div>
            {% endfor %}
        </div>
        <div class="col-xs-10 right">
            {% for p in posts %}
            <div class="col-xs-6">
                <div class="block">
                    <div class="date"><span class="month">{{p.published.month}}</span><span class="day">{{p.published.day}}</span></div>
                    <a class="hover" href="/p/{{p.id}}"><span>{{p.title}}</span></a>
                    <div class="background">
                        <img src="{{p.header}}">
                    </div>
                </div>  
            </div>
            {% endfor %}
            <div class="col-xs-12">
                <div class="pages">
                    {% for i in pages%}
                    <a href="/year/{{year}}?p={{cur_page}}" class="page {{"active" if i == cur_page}}">{{i}}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="pull-right">
                    访问量: {{hit}}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p class="address"><a href="#" target="_blank">关于我们</a><a href="http://nav.uestc.edu.cn/" target="_blank">成电导航</a><a href="http://www.epptime.com/" target="_blank">卓拙科技</a><a href="https://cnssuestc.org/" target="_blank">凝聚网络安全工作室</a><a href="http://www.jg.uestc.edu.cn/" target="_blank">机关党委网</a><a href="http://www.univs.cn/" target="_blank">中国大学生在线</a></p>
            <p class="copy1">© 2012 电子科技大学新闻中心</p>
            <p class="grey">TEL:028-61831278 / 028-61830213(清水河校区)&nbsp;&nbsp;&nbsp;&nbsp;028-83202219(沙河校区)</p>
            <p class="grey"><a href="mailto:xwzx@uestc.edu.cn">xwzx@uestc.edu.cn</a></p>
            <div class="grey contact">
                <a href="#" target="_blank">
                    <img src="/static/img/footer-weixin.gif">
                    <i class="qrcode"><img src="/static/img/erweima.jpg"></i>
                </a>
                <a href="http://weibo.com/u/3982954755" target="_blank">
                    <img src="/static/img/footer-weibo.gif">
                </a>
                <a href="#" target="_blank">
                    <img src="/static/img/footer-book.gif">
                    <i class="qrcode book"><img src="/static/img/bookQR.jpg"></i>
                </a>
                <a href="#" target="_blank">
                    <img src="/static/img/footer-rss.gif">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>