{% from "utils.html" import date_block, more_block %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>成电时光</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bower_components/froala/css/froala_content.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <style>
    body, html{
        min-width: 1280px;
    }
    .content img{
        max-width: 100%;
    }
    .another-wrapper{
        float: left;
        width: 50%;
        padding: 10px;
    }
    .post header {
      background-image: url({{url_for('static',filename='img/bg_post.png')}});
    }
    </style>
    
</head>

<body class="post">
    <header>
        <div class="container top">
            <img src="{{url_for('static',filename='img/logo.png')}}" class="pull-left"/>
            <div class="pull-right">
                <a href="http://www.uestc.edu.cn/">学校主页</a>
                <a href="http://www.new1.uestc.edu.cn/">新闻中心</a>
                <a href="http://www.new1.uestc.edu.cn/?n=UestcNews.Front.Category.Page&CatId=56">关注</a>
                <input type="text" placeholder="搜索" class="search"/>
            </div>
        </div>
    </header>
    <div class="container main">
        <div class="row" style='height: 320px'>
            <div class="col-xs-2 clearfix">
            <!-- whole year guide -->
                {{ date_block(post, 'self active')}}
                <div style="margin: 10px -10px">
                    {% for i in category %}
                    <div class="another-wrapper">
                        {{ date_block(i)}}
                    </div>
                    {% endfor %}
                    <div class="another-wrapper">
                        {{more_block(post)}}
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="header" style="background-image:url({{post.header}})"> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
                <p class="info">{{post.published.year}}年{{post.published.month}}月首页故事</p>
            </div>
            <div class="col-xs-offset-2 col-xs-8">
                <h2 class="text-center title">{{post.title}}</h2>
                <div class="content">
                    {{post.content | safe}}
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        {% if prev_p %}
                        <a href="{{prev_p[0].id}}">上一篇：{{prev_p[0].title}}</a>
                        {% else %}
                        <a href="#">没有了</a>
                        {% endif %}
                    </div>
                    <div class="col-xs-6 text-right">
                        {% if next_p %}
                        <a href="{{next_p[0].id}}">下一篇：{{next_p[0].title}}</a>
                        {% else %}
                        <a href="#">没有了</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                {% for i in post.author %}
                <div class="author-block">
                    <p class="job">{{i.job}}</p>
                    <p>{{i.name}}</p>
                </div>
                {% endfor %}
                <div class="author-block">
                    <p class="job">点击量</p>
                    <p>{{hit}}</p>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p class="address"><a href="#" target="_blank">关于我们</a><a href="http://nav.uestc.edu.cn/" target="_blank">成电导航</a><a href="http://www.epptime.com/" target="_blank">卓拙科技</a><a href="https://cnssuestc.org/" target="_blank">凝聚网络安全工作室</a><a href="http://www.jg.uestc.edu.cn/" target="_blank">机关党委网</a><a href="http://www.univs.cn/" target="_blank">中国大学生在线</a></p>
            <p class="grey">© 2012 电子科技大学新闻中心</p>
            <p class="grey">TEL:028-61831278 / 028-61830213(清水河校区)&nbsp;&nbsp;&nbsp;&nbsp;028-83202219(沙河校区)</p>
            <p class="grey"><a href="mailto:xwzx@uestc.edu.cn">xwzx@uestc.edu.cn</a></p>
            <div class="grey contact">
                <a href="#" target="_blank">
                    <img src="{{url_for('static',filename='img/footer-weixin.gif')}}">
                    <i class="qrcode"><img src="{{url_for('static',filename='img/erweima.jpg')}}"></i>
                </a>
                <a href="http://weibo.com/u/3982954755" target="_blank">
                    <img src="{{url_for('static',filename='img/footer-weibo.gif')}}">
                </a>
                <a href="#" target="_blank">
                    <img src="{{url_for('static',filename='img/footer-book.gif')}}">
                    <i class="qrcode book"><img src="{{url_for('static',filename='img/bookQR.jpg')}}"></i>
                </a>
                <a href="#" target="_blank">
                    <img src="{{url_for('static',filename='img/footer-rss.gif')}}">
                </a>
            </div>
        </div>
    </footer>
    <script>
        var request = new XMLHttpRequest();
        request.open('GET', '{{url_for('Hit', page="post{}".format(post.id))}}');
        request.send();
    </script>
</body>
</html>