{% macro date_block(post, add_class='') -%}
    <div class="date-block-wrapper">
        <a class="date-block {{add_class}}" href="/p/{{post.id}}">
            <div class="text-center">
                <div class="text text-right">
                    <span class="year">{{post.published.year}}</span>
                    <span class="month">{{post.published.month|padding}}</span>
                    <span class="day">.{{post.published.day|padding}}</span>
                </div>
            </div>
        </a>
    </div>
{%- endmacro %}
{% macro more_block(post) -%}
    <div class="date-block-wrapper">
        <a class="date-block" href="/year/{{post.published.year}}">
            <div class="text-center">
                <div class="text">
                    More
                </div>
            </div>
        </a>
    </div>
{%- endmacro %}