@maincolor: #33A0FF;
@menuback: rgb(41, 53, 65);
body, html{
    height: 100%;
    width: 100%;
}
.framework{
    margin: 0;
    padding: 0;
    background-color: @menuback;
    min-height: 100vh;
}
.main-side{
    background-color: @menuback;
    color: white;
    padding: 0;
    height: 100%;
    .header{
        margin: 0;
        display: block;
        font-size: 2em;
        height: 10rem;
        line-height: 10rem;
    }
    li{
        color: white;
        a{
            margin: 5px 0px 5px 5px;
            font-size: 1.25em;
            color: darken(white, 10%);
        }
        a:hover, a:focus, a.active{
            color: white;
            background-color: lighten(@menuback, 5%) !important;
        }
    }
}
.main{
    padding: 0;
    background-color: #EEE;
    min-height: 100vh;

}
.actions{
    height: 10rem;
    background-color: white;
    width: 100%;
    h3{
        height: 10rem;
        line-height: 10rem;
        margin: 0;
        font-weight: 100;
    }
    .btn-group{
        margin: 3.2rem 3em;
    }
    div.pull-left{
        margin: 3.2rem 1em 3.2rem 3em;
    }
}
body{
    background-color: #EEE;
}
.content > .container{
    margin-top: 1em;
    max-width: 100% !important;
}
.big_item{
    display: flex;

    border-radius: 10px;
    padding: 2rem;
    color: white;
    a{
        color: white;
        &:focus, &:visited, &:active, &:hover, &.active{
            color: white;
            text-decoration: none;
        }
    }
    .left{
        flex: 1;
        .h1{
            font-size: 6em;
            font-weight: 100;
        }
    }

    ul.right{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            flex: 1;
            font-size: 1.2em;
            margin: auto;
            padding: 0;
        }
    }
}
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}
.a-card{
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    border-radius: 5px;
    border: solid #ddd 1px;
}
.dashboard .row{
    margin: 1em 0;
}
.selected{
    &::before{
        content: " ";
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    opacity: 0.5;
}
.f-image-list .thumbnail{
    cursor: pointer;
}
.logout{
    font-size: 2em;
    text-align: center;
    display: block;
    height: 40px;
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -20px;
}