<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">操作</div>
		<div class="panel-body">
			<a class="btn btn-lg btn-success" ui-sref="main.new_passages">新建文章</a>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">文章</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<td>序号</td>
						<td>来源</td>
						<td>状态</td>
						<td>标题</td>
						<td>题图</td>
						<td>日期</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in passages">
						<td>{{p.id}}</td>
						<td>{{p.creator}}</td>
						<td class="{{p.status}}">
							<select ng-model="p.status" ng-change="update_status(p)" class="form-control">
								<option value="toView">待审</option>	
								<option value="toPublish">待发布</option>
								<option value="published">已发布</option>
							</select>
						</td>
						<td>{{p.title}}</td>
						<td style="width: 40%"><img ng-src="{{p.header}}" class="img-responsive thumbnail"></td>
						<td><time am-time-ago="p.created"></time></td>
						<td>
							<div class="btn-group">
								<a ng-href="passage/{{p.id}}" class="btn btn-warning">编辑</a>
								<a ng-click="del(p)" class="btn btn-danger" ng-href="#">删除</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>