body,
html {
  height: 100%;
  width: 100%;
}
.framework {
  margin: 0;
  padding: 0;
  background-color: #293541;
  min-height: 100vh;
}
.main-side {
  background-color: #293541;
  color: white;
  padding: 0;
  height: 100%;
}
.main-side .header {
  margin: 0;
  display: block;
  font-size: 2em;
  height: 10rem;
  line-height: 10rem;
}
.main-side li {
  color: white;
}
.main-side li a {
  margin: 5px 0px 5px 5px;
  font-size: 1.25em;
  color: #3d4e60;
}
.main-side li a:hover,
.main-side li a:focus,
.main-side li a.active {
  color: white;
  background-color: #334251 !important;
}
.main {
  padding: 0;
  background-color: #EEE;
  min-height: 100vh;
}
.actions {
  height: 10rem;
  background-color: white;
  width: 100%;
}
.actions h3 {
  height: 10rem;
  line-height: 10rem;
  margin: 0;
  font-weight: 100;
}
.actions .btn-group {
  margin: 3.2rem 3em;
}
.actions div.pull-left {
  margin: 3.2rem 1em 3.2rem 3em;
}
body {
  background-color: #EEE;
}
.content > .container {
  margin-top: 1em;
  max-width: 100% !important;
}
.big_item {
  display: flex;
  border-radius: 10px;
  padding: 2rem;
  color: white;
}
.big_item a {
  color: white;
}
.big_item a:focus,
.big_item a:visited,
.big_item a:active,
.big_item a:hover,
.big_item a.active {
  color: white;
  text-decoration: none;
}
.big_item .left {
  flex: 1;
}
.big_item .left .h1 {
  font-size: 6em;
  font-weight: 100;
}
.big_item ul.right {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.big_item ul.right li {
  flex: 1;
  font-size: 1.2em;
  margin: auto;
  padding: 0;
}
.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '4 .column.column-1-4';
  font-size: 0;
  /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}
.deckgrid .column {
  float: left;
}
.deckgrid .column-1-4 {
  width: 25%;
}
.a-card {
  padding: 1rem;
  background-color: white;
  margin: 1rem;
  border-radius: 5px;
  border: solid #ddd 1px;
}
.dashboard .row {
  margin: 1em 0;
}
