.main-side {
  background-color: #293541;
  color: white;
  padding: 0;
  height: 100%;
  height: 100vh;
}
.main-side .header {
  margin: 0;
  display: block;
  font-size: 2em;
  height: 10rem;
  line-height: 10rem;
}
.main-side li {
  color: white;
}
.main-side li a {
  margin: 5px 0px 5px 5px;
}
.main-side li a:hover,
.main-side li a:focus,
.main-side li a.active {
  color: white;
  background-color: #334251 !important;
}
.main {
  padding: 0;
}
.actions {
  height: 10rem;
  background-color: white;
  width: 100%;
  padding: 0.75rem 1.4rem;
}
